.row
  .span3
    = simple_form_for @emergency_contact do |f|
      - if @emergency_contact.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @emergency_contact.errors.full_messages
              %li= message
      = f.label 'Full Name:'
      = f.text_field :full_name
      = f.label 'Cell Phone Number:'
      = f.text_field :phone_number
      = f.button :submit, value: 'Submit'